/*==============================
	Global
==============================*/
p {
	line-height: 24px;
}

/*==============================
	Structure & Layout 
==============================*/
.container {
	margin: 0 auto;
	width: 960px;
}

/* Push down content below navigation */
article {
	padding-top: 200px;
}

/*==============================
	Logo
==============================*/
header h1 a {
	background: #ccc url("../img/logo.png") no-repeat center center;
	border-radius: 150px;
	border: 4px solid #fff;
	display: block;
	height: 150px;
	left: 40px;
	position: absolute;
	text-indent: -999em;
	width: 150px;
	z-index: 2;
	
	/* CSS 3*/
	transition: background-color 1s;
}

header h1 a:hover {
	background: #666 url("../img/logo.png") no-repeat center center;
}


/*==============================
	Navigation
==============================*/
header {
	position: relative;
}

header li {
	float: left;
	list-style: none;
	margin: 0 10px;
}

/* Remove inherited margin on <ul> */
header ul {
	margin: 0;
}

/* Push links far right w/o floats */
nav li:nth-child(1) {
	margin-left: 450px;
}

nav {
	background: #666;	
	height: 64px;
	position: absolute;
	left: 0;
	top: 42px;
	width: 960px;
	
	/* CSS3 */
	box-shadow: inset 0px 0px 10px 2px #333;
}

nav a:link,
nav a:visited {
	color: #fff;
	height: 64px;
	display: block;
	line-height: 64px;
	text-align: center;	
	text-decoration: none;
	text-transform: uppercase;
	width: 128px;
	
	/*CSS 3*/
	transition: margin-top .25s;
}

nav a:hover, 
nav a:active {
	margin-top: 10px;
}


/*==============================
	Navigation: Page Indicators
==============================*/
.about li:nth-child(1), 
.students li:nth-child(2),
.contact li:nth-child(3){
	background: rgba(255,255,255,.15);
}


/*==============================
	About Page
==============================*/
.about section {
	float: left;
	margin-left: 40px;
	width: 420px;
}

.about section h2 {
	margin-left: -40px;
}

/*==============================
	Students Page
==============================*/
.members li {
	float: left;
	list-style: none;
	margin: 20px 0 0 20px;
	position: relative;
	width: 440px;
}

.members h3 {
	background: #666;
	bottom: 20px;
	color: #fff;
	left: -20px;
	padding: 10px;
	position: absolute;
	
	/* CSS 3*/
	box-shadow: 0 10px 20px #222;
}

/* Ribbon Triangle */
.members h3:after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
	bottom: -39px;
	border-width: 20px;
	z-index: -1;
	
}

.members img {
	width: 420px;
}


/*==============================
	Contact Page
==============================*/
.contact article section {
	float: left;
	margin-left: 10px;
	width: 310px;
}

.contact td {
	padding: 10px 4px;
}

.contact tr:nth-child(even)  {
	background: #ccc;
}

label {
	display: block;
}

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*==============================
	Gallery
==============================*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}